.btnSignOut {
  background-color: transparent;
  border: none;
}

.btnWFull {
  width: 100%;
}

.custom-card {
  border: 2px solid var(--nextui-colors-secondary);
  background-color: var(--nextui-colors-backgroundAlph);
  /* Otros estilos personalizados que desees aplicar */
}

/* Chat Rooms */

